/* commons */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.white {
  background-color: #fff;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.black a:visited {
  color: white;
}

.white a:visited {
  color: black;
}

/* header  */

#logo,
#accedi {
  width: 25%;
  height: 80px;
}

#logo {
  line-height: 80px;
}

#logo img {
  vertical-align: middle;
}

nav {
  height: 80px;
  width: 50%;
  line-height: 80px;
  text-align: center;
}

#accedi {
  line-height: 80px;
  text-align: right;
}

#accedi a {
  font-weight: 600;
  color: black;
}

.header-top ul {
  list-style: none;
}

.header-top li {
  display: inline-block;
}

.header-top a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-weight: 600;
}

.jumbotron {
  height: 650px;
  margin: 0 auto;
  background-size: cover;
}

.cont-jumbo {
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

#accedi span {
  background-color: white;
  border-radius: 2em;
  padding: 10px 15px;
}

.row {
  background-color: #255ee9;
}
.jumbotron h1 {
  color: white;
  font-size: 65px;
  text-align: center;
  padding: 130px;
}

.jumbotron p {
  color: white;
  font-size: 34px;
  text-align: center;
  padding: 0 250px;
  margin-bottom: 50px;
}

.cont-btn a {
  text-decoration: none;
}
/* main  */
section {
  position: inherit;
}
.mini-cont {
  width: 50%;
  margin-top: 150px;
  padding: 25px;
}

section h2,
section p {
  line-height: 1.5;
}

section h2 {
  font-size: 50px;
}

section p {
  font-size: 25px;
}

/* #sec-sect {
  background-color: #cfcfcf;
} */

#q-h,
#q-p {
  text-align: center;
}

#condivisione {
  display: block;
  margin: 0 auto;
}

#q-div {
  font-size: 34px;
  font-weight: 600;
  background-image: url(../img/stars.svg);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  line-height: 100px;
  margin-top: 50px;
}

#q-mac {
}

.bt-cont {
  position: relative;
}

#q-div,
#q-mac {
  text-align: center;
}

#q-mac {
  color: white;
  font-weight: 500;
  background-color: #255ee9;
  border: 1px solid;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}

/* footer  */
footer {
  position: relative;
  background-color: rgb(48, 48, 48);
}

.foot {
  width: calc(100% / 6);
}

.l-foot {
  width: 33.33%;
}

.l-foot h2 {
  padding: 80px 100px 40px 0;
  font-size: 50px;
  color: #255ee9;
}

.l-foot p {
  color: white;
}

.l-foot img {
  height: 14px;
}

.l-foot p {
  padding-left: 30px;
  padding: 8px;
}

footer ul {
  list-style: none;
  color: white;
  line-height: 2;
}

footer ul li:first-child {
  color: #255ee9;
}

/* btn  */

.btn {
  font-size: 24px;
  display: inline-block;
  border-radius: 2em;
  padding: 20px 25px;
  margin: 20px;
}

.cont-btn {
  text-align: center;
}

/* ***** debug *****  */

/* .debug nav {
  border: 1px solid black;
} */

/* .debug .jumbotron {
  border: 1px solid black;
} */

/* .debug #logo {
  height: 80px;
  border: 1px solid black;

} */

/* .debug #accedi {
  border: 1px solid black;
} */

/* .debug .mini-cont {
  border: 1px solid;
} */

/* .debug .foot {
  height: 300px;
  border: 1px solid;
} */

/* .debug .l-foot {
  height: 300px;
  border: 1 px solid;
} */

#q-sect {
  background-color: #cfcfcf;
}
